<!DOCTYPE html>
<html lang="en">

<%- include("partials/head"); %>


<body>

  <!-- Navigation -->
<%- include("partials/nav"); %>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading"><%=post.detail %></h2>
            <span class="meta">Posted by
              <a href="#">Ataberk Tümay</a>
              on <%= post.dateCreated.toLocaleString() %></span>
              <div style="display:flex; gap:10px; margin-top: 10px;">
                <a href="/posts/edit/<%= post._id %>" style="color:#333; background-color: lightblue; border: 1px solid #333; border-radius: 2px; font-size: 25px; text-decoration:none; padding: 5px;">Update</a>
                <a href="/posts/<%= post._id %>?_method=DELETE" onClick="return confirm(`Are you sure?`);" style="color:#333; background-color: tomato; border: 1px solid #333; border-radius: 2px; font-size: 25px; text-decoration:none; padding: 5px;">Delete</a>
              </div>
   
          </div>
        </div>
      </div>
    </div>
  </header>

           
  <hr>

  <!-- Footer -->
  <%- include("partials/footer"); %>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
